body {
  margin: 0;
  font-family: "Rubik";
  scroll-behavior: smooth;
}

h4 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.widescreen {
  max-width: 1440px;
  margin: 0 auto;
}

.padding-left-right {
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  font-size: 72px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(74 71 71);
  margin: 0;
  padding: 0;
}

.navbar_a {
  color: black;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  width: max-content;
}

.navbar_a:hover {
  color: #f63f5c;
}
.navbar_a:hover::after {
  content: "";
  background: #f63f5c;
  border-radius: 100px;
  height: 1px;
  width: 80%;
  position: absolute;
  top: 32px;
  left: 0;
}

.header_bg {
  background-image: url("./assets/img/bg1.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}

.header_nav_img {
  height: 32px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 48px;
}

.hero_display {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding-top: 180px;
}

.hero_display_announce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  width: 500px;
}

button {
  color: white;
  font-size: 18px;
  font-weight: 550;
  background-color: rgb(242 61 93);
  border: #f63f5c;
  box-shadow: 1px 1px 7px #f63f5c;
  border-radius: 5px;
  padding: 20px 58px;
  margin-top: 40px;
}

.hero_display_img {
  width: 450px;
  height: auto;
}

/* 2.Sektion) FEATURES */
.features_bg {
  background-color: #cdfcf6;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.features_display {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 90px 0 0 0;
}

.features_display_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.features_display_img {
  width: 100px;
  height: auto;
}

.features h4 {
  color: #f63f5c;
  font-size: 20px;
  font-weight: 450;
  margin: 0;
}

.features h2 {
  color: rgb(0 9 54);
  font-size: 50px;
  font-weight: 500;
  width: 550px;
  text-align: center;
  padding: 30px 0 0 0;
  margin: 0;
}

.features h3 {
  color: rgb(74 71 71);
  font-family: "PT Sans";
  font-size: 26px;
  font-weight: 510;
  text-align: center;
}

/* 3.Sektion) DETAILS */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.details h2 {
  color: rgb(0 9 54);
  font-size: 50px;
  font-weight: 500;
  width: 550px;
  text-align: center;
  padding: 30px 0 0 0;
  margin: 0;
}

.details h3 {
  color: rgb(0 9 54);
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.details_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.details_card_left {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 400px /* width: 100% */;
  background-color: #f7f7f7;
}

.details_card_left_img {
  height: 100%;
  /* width: auto; */
  object-fit: cover;
}

.details_card_left_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 24px;
  gap: 24px;
}

.details_card_right {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 400px /* width: 100% */;
  background-color: #f7f7f7;
}

.details_card_right_img {
  height: 100%;
  /* width: auto; */
  object-fit: cover;
}

.details_card_right_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 24px;
  gap: 24px;
}

/* 4.Sektion) WHERE TO BUY */
.where-to-buy {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.where-to-buy_h1 {
  text-align: center;
}

.where-to-buy_adress {
  display: flex;
  align-items: flex-end;
}

.where-to-buy_adress_img {
  height: 40px;
  width: auto;
}

.where-to-buy_adress_span {
  font-size: 28px;
}

/* 5.Sektion) FOOTER */
footer {
  background-color: #f63f5c;
}

.follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.h4_white {
  color: white;
}

.follow-us_social-media-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.follow-us_social-media-icons_a_img {
  width: 64px;
  height: 64px;
}
