body {
  margin: 0;
  font-family: "Rubik";
  scroll-behavior: smooth;
}

.widescreen {
  max-width: 1440px;
  margin: 0 auto;
}

.padding-left-right {
  padding-left: 100px;
  padding-right: 100px;
}

.header_bg {
  background-image: url("./assets/img/bg1.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}

.header_nav_img {
  height: 64px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.hero_display {
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero_display_announce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}



footer {
  background-color: #f63f5c;
}

.follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}

.h4_red {
  color: white;
}

.follow-us_social-media-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

.follow-us_social-media-icons_a_img {
  width: 64px;
  height: 64px;
}
